#title
{
  background-color: #ff4c68;
  color : #fff;
}
h1
{
  font-family: 'Montserrat', sans-serif;

}
h2
{
  font-family: 'Montserrat', sans-serif;
  font-size:3.5rem;
  line-height=1.5;
}
h3
{
    font-family: 'Montserrat', sans-serif;
    font-size:1.5rem;

}
.container-fluid
{
  padding:3% 15% 11%;
}
body{
  font-family:"Montserrat";
}
/* navigation bar */

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar{
padding: 0 0 4.5rem;
}
.nav-item
{
  padding: 0px 18px;
}
.nav-link
{
  font-family:"Montserrat-ligth" ;
  font-size: 1.2rem;
}

/* download buttom */

.download-buttom
{
  margin:5% 3% 5% 0%;
}

/* title-image */
.title-image{
  width: 60%;
  transform: rotate(25deg);
  position:absolute;
  right: 30%;
}
.heading
{
font-family: 'Montserrat', sans-serif;
font-size: 3rem;
line-height: 1.5;  
}
/* feautures-id */
#features
{
  padding: 7% 15%;
  background-color:#fff;
  z-index:1;
  position:relative;
}
.features-div
{
  text-align: center;
  padding: 5%;
}
p{
  color: grey;
}
.icon
{
  color:#ef8172;
  margin-bottom: 1rem;
}
.icon:hover
{
  color:#ff4c68;
}

/* testimonials section */
#testimonials
{
  text-align: center;
  background-color: #ef8172;
}

.testimonial-img
{
  width: 10%;
  border-radius: 100%;
  margin:20px;
}
.carousel-item
{
  padding: 7% 15%;
}
/* press section */
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3rem;
}
.press-logo
{
  width:15%;
  margin:20px 20px 50px;
}

/* pricing section */
.pricing-buttom
{
  padding:3% 2%;
}
#pricing{
  padding:100px;
  text-align: center;
}
.pricing-heading
{
  font-size: 3rem;
  line-height: 1.5;
}
@media (max-width:1028px) {
  #title
  {
    text-align: center;
  }
  .title-image
  {
    position: static;
    transform: rotate(0);
  }
}
.plan
{
   color:#000;
}

/* call to action section */

#cda
{
  background-color:#ff4c68;
  padding: 10% 20%;
  text-align: center;
}
.cda-heading
{
  font-family: 'Montserrat', sans-serif;
  font-size:3.5rem;
  line-height: 1.5;
  color:#fff;
}
/* footer link */

#footer{
  text-align: center;
  padding-bottom: 5%;
}
.footer{
  padding-top: 5%;
  padding-right:1%;
  padding-bottom: 2%;
}
